.header {
  background: #202020;
  position: sticky;
  top: 0;
  z-index: 999;
  height: var(--admin-header-height);
  display: flex;
  align-items: center;
}

:root {
  --admin-header-height: 50px;
  --admin-sider-width: 150px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
}

.header .container-fluid {
  width: 100%;
}

.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.header .inner-logo a:hover {
  text-decoration: none;
  opacity: 0.9;
}

.body {
  min-height: calc(100vh - var(--admin-header-height));
}

.body .sider {
  width: var(--admin-sider-width);
  background: #2b2b2b;
  color: #fff;
  height: calc(100vh - var(--admin-header-height));
  position: fixed;
  top: var(--admin-header-height);
  left: 0;
  overflow-y: auto;
}

.body .sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.body .sider .inner-menu a {
  display: block;
  padding: 10px 12px;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.body .sider .inner-menu a:hover {
  background: #3a3a3a;
  text-decoration: none;
}
/* image upload */
.upload-image {
  position: relative;
}
.upload-image img {
  width: 100px;
}
.upload-image button {
  position: absolute;
  top: 0;
  right: 0;
}
/* end image upload */
/* image preview */
.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-preview button {
  position: absolute;
  top: 0;
  right: 0;
}
/* end image preview */

.body .main {
  margin: 0;
  padding: 20px;
  position: relative;
  left: var(--admin-sider-width);
  width: calc(100% - var(--admin-sider-width));
  min-height: calc(100vh - var(--admin-header-height));
  background: #fff;
}

.body .main h1 {
  margin: 0 0 10px;
  font-size: 32px;
  font-weight: 700;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
